.incomplete-todo {
  display: inline-block;
  width: 300px;
  height: 30px;
  text-align: justify;
  color: #309630;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}
.completed-todo {
  display: inline-block;
  color: #b94242;
  width: 300px;
  text-align: justify;
  height: 30px;
  text-decoration: line-through;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}
